
.ml14 {
    font-weight: 500;
    font-size: 2.4em;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml14 .line {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
    opacity: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
    opacity: 0;
    margin-right: 0.4rem;
  }

  h1 {
    margin: 0;
  }